@model GestionTickets.Domain.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDUsuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
