@model IEnumerable<GestionTickets.Domain.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorreoElectronico)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDUsuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDUsuario })
        </td>
    </tr>
}

</table>
