@model GestionTickets.Domain.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CajaDepto.NombreCajaDepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CajaDepto.NombreCajaDepto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.NumeroLocal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.NumeroLocal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipo.NombreEquipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipo.NombreEquipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.NombreEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.NombreEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombre1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCierre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCierre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Problema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetalleServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetalleServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivoFijo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivoFijo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recibe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recibe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDTicket }) |
    @Html.ActionLink("Back to List", "Index")
</p>
