@model IEnumerable<GestionTickets.Domain.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cadena.NombreCadena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad.NombreCiudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroLocal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cadena.NombreCadena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ciudad.NombreCiudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroLocal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDCliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDCliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDCliente })
        </td>
    </tr>
}

</table>
